{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Register</title>
    <link rel="stylesheet" href="{% static 'style/style.css' %}">
</head>
<body>
   
    <form action="" method="POST">
        {% csrf_token %} 

        <label for="username">Username:</label><br>
        <input type="text" id="name" name="name" required><br><br>

        <label for="email">Email:</label><br>
        <input type="email" id="email" name="email" required><br><br>

        <label for="password">Password:</label><br>
        <input type="password" id="password" name="password" required><br><br>

        <label for="confirm_password">Confirm Password:</label><br>
        <input type="password" id="confirm_password" name="confirm_password" required><br><br>

        <input type="submit" value="Register">
     </form>
   {% comment %} <div>
    {% if messages %}
    {% for message in messages %}
    <p>{{message}}</p>
    
    {% endfor %}
    {% endif %}
    </div>
    <h1>Show register information</h1>
    <hr>
    <table>
    <tr>

    <th>ID</th>
    <th>Name</th>
    <th>Email</th>
    <th>password</th>
    <th>confirm password</th>
    
    </tr>
    </table> {% endcomment %}
    <!-- Example in your main template -->
{% for item in items %}
<tr>
    <td>{{ item.id }}</td>
    <td>{{ item.name }}</td>
    <td>{{ item.email }}</td>
    <td>{{ item.password}}</td>
    <td>{{ item.confirm_password}}</td>
    <td><a href="{% url 'edit_data' item.id %}">Edit</a></td>
</tr>
{% endfor %}


</body>
</html>
